# Rust build artifacts
rust_logic/target/
jni/librust_logic.a
Cargo.lock

# Android build artifacts
bin/
gen/
obj/
libs/
output/
*.apk
*.ap_

# Keys (JANGAN DI-PUSH!)
*.jkr
*.jks
*.keystore

# Temporary files
.DS_Store
Thumbs.db

